* {
  box-sizing: border-box;
}
*:after, *:before {
  box-sizing: inherit;
}

html, body, #app {
  margin: 0;
  height: 100%;
}

body {
  --color-bg: #000;
  --color-title: #fff;
  --color-emphasis: #fff;
  --color-main: #ffc107;
  --color-rgb: 255, 255, 255;
  --color-border-focus: #57596B;

  --color-text: rgba(var(--color-rgb), .7);
  --color-link-active: rgba(var(--color-rgb), .2);
  --color-shape-bg: rgba(var(--color-rgb), .1);
  --color-shape: rgba(var(--color-rgb), .85);
  --color-button-border: rgba(var(--color-rgb), .2);
  --color-button-bg: transparent;
  --color-editor-bg: rgba(var(--color-rgb), .07);
  --color-graph-border: rgba(var(--color-rgb), .1);
  --graph-bg: transparent;

  --color-toggle-bg: rgba(var(--color-rgb), .1);
  --color-toggle-bg-active: rgba(var(--color-rgb), .15);
  --editor-shadow: none;
}

@media (prefers-color-scheme: light) {
  body {
    --color-bg: #f1f3f4;
    --color-title: #000;
    --color-emphasis: #000;
    --color-main: #ff5722;
    --color-rgb: 0, 0, 0;
    --color-border-focus: #e0e0e0;
    --color-button-bg: #fff;

    --color-link-active: rgba(255, 87, 34, .08);
    --color-toggle-bg-active: rgba(255, 87, 34, .08);
    --color-toggle-bg: rgba(var(--color-rgb), .1);
    --color-shape-bg: #ffffff;
    --color-shape: rgba(var(--color-rgb), .8);
    --color-editor-bg: #ffffff;
    --color-graph-border: rgba(var(--color-rgb), .03);
    --editor-shadow: 0 5px 10px rgba(0, 0, 0, .05);
    --graph-bg: radial-gradient(#fff 80%, #f1f2f3);
  }
  .CodeMirror-code,
  .CodeMirror-cursors {
    filter: invert(1);
  }
  .CodeMirror-selected {
    opacity: .1;
  }
}


body[theme="dark"] {
  --color-bg: #000;
  --color-title: #fff;
  --color-emphasis: #fff;
  --color-main: #ffc107;
  --color-rgb: 255, 255, 255;
  --color-border-focus: #57596B;

  --color-text: rgba(var(--color-rgb), .7);
  --color-link-active: rgba(var(--color-rgb), .2);
  --color-shape-bg: rgba(var(--color-rgb), .1);
  --color-shape: rgba(var(--color-rgb), .85);
  --color-button-border: rgba(var(--color-rgb), .2);
  --color-button-bg: transparent;
  --color-editor-bg: rgba(var(--color-rgb), .07);
  --color-graph-border: rgba(var(--color-rgb), .08);
  --graph-bg: transparent;

  --color-toggle-bg: rgba(var(--color-rgb), .1);
  --color-toggle-bg-active: rgba(var(--color-rgb), .15);
  --editor-shadow: none;
}

body[theme="dark"] .CodeMirror-code,
body[theme="dark"] .CodeMirror-cursors {
  filter: none;
}
body[theme="dark"] .CodeMirror-selected {
  opacity: 1;
}

body[theme="light"] {
  --color-bg: #f1f3f4;
  --color-title: #000;
  --color-emphasis: #000;
  --color-main: #ff5722;
  --color-rgb: 0, 0, 0;
  --color-border-focus: #e0e0e0;
  --color-button-bg: #fff;

  --color-link-active: rgba(255, 87, 34, .08);
  --color-toggle-bg-active: rgba(255, 87, 34, .08);
  --color-toggle-bg: rgba(var(--color-rgb), .04);
  --color-shape-bg: #ffffff;
  --color-shape: rgba(var(--color-rgb), .8);
  --color-editor-bg: #ffffff;
  --color-graph-border: transparent;
  --editor-shadow: 0 5px 10px rgba(0, 0, 0, .05);
  --graph-bg: radial-gradient(#fff 80%, #f1f2f3);
}

body[theme="light"] .CodeMirror-code,
body[theme="light"] .CodeMirror-cursors {
  filter: invert(1);
}
body[theme="light"] .CodeMirror-selected {
  opacity: .1;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

body, button {
  font-family: system-ui;
}

.ready {
  transition: .2s ease;
}

a {
  transition: background .2s ease;
}
a:link, a:visited {
  color: var(--color-main);
}
a:hover, a:active {
  background: var(--color-link-active);
}

h1, h2 {
  color: var(--color-title);
}

button[reset] {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  line-height: 1;
  -webkit-touch-callout: none;
  touch-action: none;
}

button:focus:not(:focus-visible) {
  outline: 0;
}
