* {
  box-sizing: border-box;
}
*:after, *:before {
  box-sizing: inherit;
}

html, body, #app {
  margin: 0;
  height: 100%;
}

:root {
  --color-bg: #000;
  --color-text: rgba(255, 255, 255, .7);
  --color-title: #fff;
  --color-emphasis: #fff;
  --color-main: #ffc107;
  --color-link-active: rgba(255, 255, 255, .2);
  --color-shape-bg: rgba(255, 255, 255, .1);
  --color-shape: rgba(255, 255, 255, .85);
  --color-button-border: rgba(255, 255, 255, .2);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
}

a {
  transition: background .2s ease;
}
a:link, a:visited {
  color: var(--color-main);
}
a:hover, a:active {
  background: var(--color-link-active);
}

h1, h2 {
  font-weight: normal;
  color: var(--color-title);
}

button[reset] {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  line-height: 1;
}
